@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #FF33FF; 
}

h1 {
  color: #FF33FF;
  border: 5px solid blue;
  margin: 20px;
  float: right;
}

p {
  font-style: italic;
  font-size: 8px'
}

