@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

body {
  font-family: 'Josefin Sans', sans-serif;
  color: #86FF33;
}

h1 {
  color: #FF33FF;
}

p {
  font-style: italic;
  font-size: 8px'
}

