@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #FF33FF; 
}

h1 {
  color: #FF44FF;
  border: 5px solid blue;
  margin: 20px;
  float: right;
}

p {
  font-style: italic;
  font-size: 8px'
}



.Apples {
  color: #006779;
}

.navbar {
  overflow.hidden;
  background-color: #3A53C4;
}

.navbar a {
  float:left;
  display: block;
  color: ##772F62l;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #CCEA21;
  color: #5EEA21;
}

.navbar a.active {
  background-color: #21EA4C;
  color: #EA21BD;
}
